.vs/NetJob/CopilotIndices/17.14.1290.42047/SemanticSymbols.db-wal
.vs/NetJob/CopilotIndices/17.14.1290.42047/SemanticSymbols.db-shm
.vs/NetJob/CopilotIndices/17.14.1290.42047/SemanticSymbols.db
.vs/NetJob/v17/DocumentLayout.json
.vs/NetJob/v17/DocumentLayout.backup.json
.vs/NetJob/CopilotIndices/17.14.1290.42047/CodeChunks.db-wal
.vs/NetJob/CopilotIndices/17.14.1290.42047/CodeChunks.db-shm
.vs/NetJob/CopilotIndices/17.14.1290.42047/CodeChunks.db
.vs/NetJob/FileContentIndex/c8342430-43c9-4974-8118-e81e33fe6f86.vsidx
.vs/NetJob/FileContentIndex/92909ca3-447f-490c-b6ee-4b4a067f0d81.vsidx
.vs/NetJob/FileContentIndex/7eef90fb-e212-4d33-b898-ccd6aa422b49.vsidx
.vs/NetJob/FileContentIndex/67ef67e7-f287-41fd-ba21-f5fb252a7a04.vsidx
.vs/NetJob/FileContentIndex/1b083665-68ba-4e16-9d7f-1bb31dbd81a7.vsidx
.vs/NetJob/v17/.suo
.vs/NetJob/DesignTimeBuild/.dtbcache.v2
NetJob/obj/project.nuget.cache
NetJob/obj/project.assets.json
NetJob/obj/Debug/net8.0/NetJob.sourcelink.json
NetJob/obj/Debug/net8.0/NetJob.pdb
NetJob/obj/Debug/net8.0/NetJob.GlobalUsings.g.cs
NetJob/obj/Debug/net8.0/NetJob.genruntimeconfig.cache
NetJob/obj/Debug/net8.0/NetJob.GeneratedMSBuildEditorConfig.editorconfig
NetJob/obj/Debug/net8.0/refint/NetJob.dll
NetJob/obj/Debug/net8.0/ref/NetJob.dll
NetJob/obj/Debug/net8.0/NetJob.dll
NetJob/obj/Debug/net8.0/NetJob.csproj.Up2Date
NetJob/obj/NetJob.csproj.nuget.g.targets
NetJob/obj/NetJob.csproj.nuget.g.props
NetJob/obj/NetJob.csproj.nuget.dgspec.json
NetJob/obj/Debug/net8.0/NetJob.csproj.FileListAbsolute.txt
NetJob/obj/Debug/net8.0/NetJob.csproj.CoreCompileInputs.cache
NetJob/obj/Debug/net8.0/NetJob.csproj.BuildWithSkipAnalyzers
NetJob/obj/Debug/net8.0/NetJob.csproj.AssemblyReference.cache
NetJob/obj/Debug/net8.0/NetJob.assets.cache
NetJob/obj/Debug/net8.0/NetJob.AssemblyInfoInputs.cache
NetJob/obj/Debug/net8.0/NetJob.AssemblyInfo.cs
NetJob/obj/Debug/net8.0/apphost.exe
NetJob/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
NetJob/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.Messages.dll
NetJob/bin/Debug/net8.0/runtimes/win/lib/net8.0/System.Diagnostics.EventLog.dll
NetJob/bin/Debug/net8.0/System.Diagnostics.EventLog.dll
NetJob/bin/Debug/net8.0/Quartz.dll
NetJob/bin/Debug/net8.0/NetJob.runtimeconfig.json
NetJob/bin/Debug/net8.0/NetJob.pdb
NetJob/bin/Debug/net8.0/NetJob.exe
NetJob/bin/Debug/net8.0/NetJob.dll
NetJob/bin/Debug/net8.0/NetJob.deps.json
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Primitives.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Options.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Options.ConfigurationExtensions.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventSource.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Logging.EventLog.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Logging.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Logging.Debug.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Logging.Console.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Logging.Configuration.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Logging.Abstractions.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Hosting.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Hosting.Abstractions.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.FileSystemGlobbing.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Physical.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.FileProviders.Abstractions.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Diagnostics.Abstractions.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.DependencyInjection.Abstractions.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Configuration.UserSecrets.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Json.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Configuration.FileExtensions.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Configuration.EnvironmentVariables.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Configuration.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Configuration.CommandLine.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Binder.dll
NetJob/bin/Debug/net8.0/Microsoft.Extensions.Configuration.Abstractions.dll
.vs/NetJob/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-wal
.vs/NetJob/CopilotIndices/17.14.1518.61961/SemanticSymbols.db-shm
.vs/NetJob/CopilotIndices/17.14.1518.61961/SemanticSymbols.db
.vs/NetJob/CopilotIndices/17.14.1368.60722/SemanticSymbols.db
.vs/ProjectEvaluation/netjob.strings.v9.bin
.vs/ProjectEvaluation/netjob.projects.v9.bin
.vs/ProjectEvaluation/netjob.metadata.v9.bin
.vs/NetJob/FileContentIndex/dff08635-1bf8-484f-9bd0-3df97ed238e2.vsidx
.vs/NetJob/CopilotIndices/17.14.1518.61961/CodeChunks.db-wal
.vs/NetJob/CopilotIndices/17.14.1518.61961/CodeChunks.db-shm
.vs/NetJob/CopilotIndices/17.14.1518.61961/CodeChunks.db
.vs/NetJob/CopilotIndices/17.14.1368.60722/CodeChunks.db
.vs/NetJob/FileContentIndex/7b5f608b-2cdd-46b9-8d00-adad39726222.vsidx
.vs/NetJob/v17/.futdcache.v2
